<!DOCTYPE html>

{% extends "layout.html" %}

{% block title %}
Main
{% endblock %}

{% block main %}
    <body>
        <div>
            <h1>TripPacker</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>

                        {% for column_name in column_names %}
                            {% if column_name.lower() == "id" %}
                                <th class="hidden_col">{{ column_name }}</th>
                            {% else %}
                                <th>{{ column_name }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <form action = "/" method="post">
                        {% for row in rows %}
                            <tr>
                                {% for key in row %}
                                    {% if key.lower() == "id" %}
                                        <!-- <td> <input type="hidden" name="id" value="{{ row[key] }}"> </td> -->
                                        <td class="hidden_col">{{ row[key] }}</td>
                                    {% elif key.lower() == "packed" %}
                                        <td> <input type="checkbox"> </td>
                                        <!-- <td>{{ row[key] }}</td> -->
                                    {% else %}
                                        <td>{{ row[key] }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </form>
                </tbody>
            </table>
        </div>
    </body>
{% endblock %}